/data/__pycache__/
/no_train_cond/
/runs/
/results/
/figures/
/images/
/logs/
/new/
/baselines/
# script.py
# script2.py
*script*.py
script2.py
toy_guide_*.py
__pycache__/

.vscode/launch.json
# png
*.png
try.py
*.pkl
*.ipynb
*.zip
toy_noguide.py
requirements1.txt