# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
einops==0.8.0
gym==0.26.2
joblib==1.2.0
matplotlib==3.6.2
networkx==2.8.8
numpy==1.23.1
PyYAML==6.0
scikit_learn==1.2.0
scipy==1.14.1
stable_baselines3==2.3.2
tensorboardX==2.6.2.2
torch==1.9.1+cu102
tqdm==4.64.1
